[Desktop Entry]
Name=Cursor
Comment=AI-first code editor
TryExec=/run/current-system/sw/bin/cursor
Exec=/run/current-system/sw/bin/cursor %F
Icon=co.anysphere.cursor
Terminal=false
StartupNotify=true
DBusActivatable=false
Type=Application
Categories=Development;IDE;TextEditor;
StartupWMClass=cursor
MimeType=text/plain;inode/directory;
