CONVEYOR_API_URL=https://api.conveyor.rallycryapp.com
CONVEYOR_USER_TOKEN=
CONVEYOR_PROJECT_ID=
DISCORD_WEBHOOK_URL=
NOTION_TOKEN=
# optional overrides
#NOTION_TASKS_DS=3e455378-c593-806e-a39b-000b64fe8273
#NOTION_AREAS_DS=5b2a0194-1d20-4eb7-a602-38d35b5566a8
